### Listen - Übungen

[Video](https://youtu.be/B-iG9Ig36uU)

In [ ]:
''' A1
Erstelle eine Liste a mit den Zahlen von 7 bis 9 einschließlich und gib
die Liste und deren Länge aus.

Erwartete Ausgabe:
[7, 8, 9]
3
'''
# your code

In [ ]:
''' A2
Lies eine ganze Zahl k ein  (k >= 0)  ein und gib eine Liste aus,
die genau k Nullen enthält.

Beispieldialoge:

Bitte eine nicht negative ganze Zahl eingeben: 5
[0, 0, 0, 0, 0]

Bitte eine nicht negative ganze Zahl eingeben: 0
[]
'''
# your code

In [ ]:
''' A3
Gib mit einem positiven Index nacheinander aus:
Die erste Zahl von a
Die letzte Zahl von a
Die 3. Zahl von a.
Die vorvorletzte Zahl von a

Erwartete Ausgabe:
5
26
2
14
'''
a = [5, 9, 2, 14, 5, 26]
# your code

In [ ]:
''' A4
Gib mit einem negativen Index nacheinander aus:
Die erste Zahl von a
Die letzte Zahl von a
Die 3.Zahl von a.
Die vorvorletzte Zahl von a

Erwartete Ausgabe:
5
26
2
14
'''
a = [5, 9, 2, 14, 5, 26]
# your code

In [ ]:
''' A5
Ändere die dritte Zahl in der gegebenen Liste zu einer 12 und gib die Liste aus.

Erwartete Ausgabe:
[5, 9, 12, 14, 5, 26]
'''
a = [5, 9, 17, 14, 5, 26]
# your code

In [1]:
''' A6
Gib mit slicing nacheinander folgende Teile der Liste a aus.

Die ersten 4 Zahlen von a.
Die letzten 2 Zahlen von a
Alles außer der ersten Zahl
Alles außer der letzten Zahl
Alles außer der ersten und letzten Zahl

Erwartete Ausgabe:
[3, 2, 0, 1]
[3, 1]
[2, 0, 1, 6, 7, 3, 1]
[3, 2, 0, 1, 6, 7, 3]
[2, 0, 1, 6, 7, 3]
'''
a = [3,2,0,1,6,7,3,1]
# your code

[3, 2, 0, 1]
[3, 1]
[2, 0, 1, 6, 7, 3, 1]
[3, 2, 0, 1, 6, 7, 3]
[2, 0, 1, 6, 7, 3]

In [ ]:
''' A7
Übersetze den Ablauf in ein Python Programm

Setze a auf eine leere Liste
Füge in einer Schleife nacheinander die Zahlen 10 bis 20 in die Liste ein.
Gib die Liste aus.

Erwartete Ausgabe:
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
'''
# your code

In [ ]:
''' A8
Übersetze den Ablauf in ein Python Programm:

Entferne von hinten beginnend aus der Liste a nacheinander alle Elemente.
Füge dabei die Elemente, die durch 3 teilbar sind, in die Liste b ein.
Gib a aus.
Gib b aus.

Erwartete Ausgabe:
[]
[24, 6, 12]
'''
a = [12, 5, 6, 10, 13, 17, 20, 24]
# your code

In [ ]:
''' A9
Lies eine ganze Zahl ein und gib aus, ob die Zahl in Liste a oder Liste b 
oder in beiden Listen oder in keiner Liste vorkommt.

Beispieldialoge

Bitte eine ganze Zahl eingeben: 22
22 ist in beiden Listen.

Bitte eine ganze Zahl eingeben: 4
4 ist nur in Liste a.

Bitte eine ganze Zahl eingeben: 9
9 ist in keiner der beiden Listen.
'''
a = [4, 12, 22, 1, -4]
b = [22, 5, 6, 1]
# your code

In [ ]:
''' A10
Gib die Liste a zuerst abwärts sortiert aus, 
dann aufwärts sortiert.

Erwartete Ausgabe:
[17, 12, 11, 9, 7, 5, 2, 2]
[2, 2, 5, 7, 9, 11, 12, 17]
'''
a = [7, 2, 9, 12, 11, 5, 2, 17]
# your code

In [ ]:
''' A11
Gib den Durchschnittswert der Liste a aus.
Nutze dazu die Funktionen sum und len.

Erwartete Ausgabe:
8.125
'''
a = [7, 2, 9, 12, 11, 5, 2, 17]
# your code

In [ ]:
''' A12
Lies eine ganze Zahl k ein. Suche in der Liste den ersten Index i bei
dem die Liste einen Sprung k macht, d.h. das Element bei Index i+1
unterscheidet sich von dem bei Index i um den Betrag k.

Beispieldialoge:

Bitte eine Zahl eingeben: 7
Bei Index 1 macht die Liste den Sprung 7

Bitte eine Zahl eingeben: 4
Bei Index 7 macht die Liste den Sprung 4

Bitte eine Zahl eingeben: 5
Kein Sprung 5 in der Liste gefunden.
'''
a = [3, 2, 9, 12, 11, 5, 2, 17, 13, 5, 1, 22, 8]
# your code

In [ ]:
''' A13
Erstelle mit einer List-Comprehension eine Liste a, die das
Doppelte der Quadratzahlen zwischen 1 und 100 enthält.
Gib a aus.

Erwartete Ausgabe:
[2, 8, 18, 32, 50, 72, 98, 128, 162, 200]
'''
# your code

In [ ]:
''' A14
Lies eine Zeile mit Zahlen ein und gib die Summe der Zahlen aus.

Beispieldialog:

Bitte ein paar Zahlen eingeben: 4 7 22 -10
Die Summe der Zahlen ist 23.
'''
# your code