### Schleifen- Übungen

In [1]:
''' A1
Schreibe eine while-Schleife, die von 5 bis 1 herunterzählt und jede Zahl ausgibt.
Am Ende soll "Start!" ausgegeben werden.

Erwartete Ausgabe:

5
4
3
2
1
Start!
'''
#your code
x = 5
while x >= 1:
    print(x)
    x -= 1
print("Start!")

5
4
3
2
1
Start!

In [11]:
''' A2
Gib in einer for-Schleife die Zahlen zwischen 5 und 15 aus.

Erwartete Ausgabe:
5
6
7
8
9
10
11
12
13
14
15
'''
# your code
for i in range(5, 16):
    print(i)

5
6
7
8
9
10
11
12
13
14
15

In [12]:
''' A3
Gib in einer for-Schleife alle geraden Zahlen zwischen 2 und 20 aus.

Erwartete Ausgabe:
2
4
6
8
10
12
14
16
18
20
'''
for i in range(2, 21, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [13]:
''' A4
Gib in einer for-Schleife alle Zahlen von 10 bis 0 aus.

Erwartete Ausgabe:
10
9
8
7
6
5
4
3
2
1
0
'''
for i in range(10, -1, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1
0

In [2]:
''' A5
Schreibe eine while-Schleife, die die Summe aller ganzen Zahlen von 100 bis 200 berechnet und ausgibt.

Erwartete Ausgabe:
Die Summe von 100 bis 200 ist: 15150
'''
summe = 0
i = 100
while i <= 200:
    summe += i
    i += 1
print(f"Die Summe von 100 bis 200 ist: {summe}")

Die Summe von 100 bis 200 ist: 15150

In [7]:
''' A6
Beginne mit der Zahl 2. Verdopple sie so lange, bis sie größer als 1000 ist.
Gib alle Zwischenwerte aus.

Erwartete Ausgabe:
2
4
8
16
32
64
128
256
512
1024
'''
zahl = 2
while zahl <= 1000:
    print(zahl)
    zahl *=  2
print(zahl)

2
4
8
16
32
64
128
256
512
1024

In [8]:
''' A7
Finde die kleinste Zahl, die größer als 10000 ist und die durch 372 teilbar ist.

Erwartete Ausgabe:
10044
'''
x = 10000
while x % 372 != 0:
    x += 1
print(x)

10044

In [10]:
''' A8
Lies eine Zahl zwischen 1-20 ein und erstelle eine Multiplikationstabelle 1..20

Beispieldialog:

Bitte eine Zahl von 1-20 eingeben: 14
 1 × 14 =  14
 2 × 14 =  28
 3 × 14 =  42
 4 × 14 =  56
 5 × 14 =  70
 6 × 14 =  84
 7 × 14 =  98
 8 × 14 = 112
 9 × 14 = 126
10 × 14 = 140
11 × 14 = 154
12 × 14 = 168
13 × 14 = 182
14 × 14 = 196
15 × 14 = 210
16 × 14 = 224
17 × 14 = 238
18 × 14 = 252
19 × 14 = 266
20 × 14 = 280
'''
n = int(input('Bitte eine Zahl von 1-20 eingeben:'))
for i in range(1, 21):
    ergebnis = n * i
    print(f"{i:2} × {n} = {ergebnis:3}")

Bitte eine Zahl von 1-20 eingeben: 14

 1 × 14 =  14
 2 × 14 =  28
 3 × 14 =  42
 4 × 14 =  56
 5 × 14 =  70
 6 × 14 =  84
 7 × 14 =  98
 8 × 14 = 112
 9 × 14 = 126
10 × 14 = 140
11 × 14 = 154
12 × 14 = 168
13 × 14 = 182
14 × 14 = 196
15 × 14 = 210
16 × 14 = 224
17 × 14 = 238
18 × 14 = 252
19 × 14 = 266
20 × 14 = 280

In [14]:
''' A9
Gehe mit einer for-Schleife durch die Zahlen zwischen 2000 und 3000
Gib nur die aus, die durch 719 teilbar sind. Nutze dazu continue.

Erwartete Ausgabe:
2157
2876
'''
for i in range(2000, 3001):
    if i % 719 != 0: 
        continue  # Überspringt die Ausgabe für 3 und 7
    print(i)

2157
2876

In [21]:
''' A10
Finde die kleinste positive ganze Zahl, die durch 17 teilbar und deren Nachfolger durch 11 teilbar ist.
Gib beide Zahlen aus.

Erwartete Ausgabe
153 154
'''

x = 1
while x < 10000:
    if x % 17 == 0 and (x+1) % 11 == 0:
        print(x, x+1)
        break
    x+=1

153 154

In [23]:
''' A11
Gib nacheinander Zahlen ein und berechne das Produkt aller Zahlen

Beispieldialog:

Gib nacheinander Zahlen ein (x für Ende)
 5
 7
 2
 x
Das Produkt aller eingegebenen Zahlen ist 70.
'''
print('Gib nacheinander Zahlen ein (x für Ende)')
produkt = 1
while True:
    eingabe = input()
    if eingabe == 'x':
        break
    produkt = produkt * int(eingabe)
print(f'Das Produkt aller eingegebenen Zahlen ist {produkt}.')

Gib nacheinander Zahlen ein (x für Ende)

 5
 7
 2
 x

Das Produkt aller eingegebenen Zahlen ist 70